<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cl.common_base">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>
        <activity android:name="com.cl.common_base.web.BaseWebActivity" />
        <activity android:name="com.cl.common_base.web.WebActivity" />
        <activity android:name=".easeui.ui.ChatActivity" />
        <activity android:name=".easeui.ui.EaseUiActivity" />

        <service android:name=".listener.TuYaDeviceUpdateReceiver"/>

        <provider
            android:name="com.hyphenate.helpdesk.easeui.provider.RyeexProvider"
            android:authorities="${applicationId}.share.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_share_provider_paths" />
        </provider>

    </application>
</manifest>